In [9]:
import pandas as pd

In [10]:
df = pd.read_csv(r'D:\Curso Python - Analise de Dados\cadastro_clientes.csv')

In [ ]:
#exibir linhas
df.head(3)

In [ ]:
#Dicionario {}
#Lista []
#Tuplas ()

In [ ]:
# Operadores Relacionais (Comparação) 

"""
==   -> Igual a
!=   -> Diferente de
>    -> Maior que
<    -> Menor que
>=   -> Maior ou igual a
<=   -> Menor ou igual a


OPERADORES LÓGICOS

and  -> Retorna True se TODAS as condições forem verdadeiras
or   -> Retorna True se PELO MENOS UMA condição for verdadeira
not  -> Inverte o valor lógico da condição

OPERADORES DE ASSOCIAÇÃO

in      -> Verifica se o valor está presente
not in  -> Verifica se o valor NÃO está presente

OPERADORES DE IDENTIDADE

is      -> Mesmo objeto
is not  -> Objetos diferentes


- &     -> AND elemento a elemento
# - |   -> OR elemento a elemento
# - ~   -> NOT (negação)

"""

In [17]:
# Filtrando apenas sexo 'Masculino' OBS : Isso não altera o valor original do Dataframe

df[df['Sexo'] == 'Masculino']

,ID_Cliente,Nome,Idade,Sexo,Cidade,Estado,Data_Cadastro,Gasto_Total
0,1,Esther Lima,61,Masculino,da Rocha,PR,2024-08-31,7466.98
2,3,Laís Mendes,28,Masculino,Melo,ES,2025-03-04,4127.34
4,5,Esther Pereira,26,Masculino,Sales,PI,2023-07-17,9976.92
7,8,Sr. João Felipe Monteiro,52,Masculino,Barros de Mendes,SE,2023-07-07,5342.52
8,9,Eduardo Freitas,53,Masculino,Porto Alegre,CE,2024-03-10,4400.47
11,12,Ana Julia Viana,62,Masculino,Cardoso,TO,2023-11-25,4779.47
12,13,Bernardo Duarte,68,Masculino,da Rosa da Serra,PR,2023-08-02,6795.62
13,14,Vitor Hugo da Costa,48,Masculino,Oliveira,SE,2023-05-21,2443.25
14,15,Leandro Castro,28,Masculino,Rocha das Flores,AP,2023-09-22,8760.77
15,16,Alexandre Silva,27,Masculino,Lopes de Gonçalves,RR,2023-09-05,5906.18
16,17,Sarah Cavalcanti,36,Masculino,Rodrigues Alegre,RR,2024-07-24,6831.84
17,18,Eduarda da Costa,58,Masculino,Almeida da Serra,RN,2025-01-22,3425.30

In [ ]:
# Criar um novo df baseado no filtro sexo 'Masculino'

df_Masculino = df[df['Sexo'] == 'Masculino']

In [ ]:
# Filtrando mais de um valor
# .isin função do python para filtrar valores

df[
    df['Estado'].isin(['RR','TO','PR'])   # Apenas filtra
]

df_Estado = df[
    df['Estado'].isin(['RR','TO','PR']) # Cria um dataframe df_estado
]

In [ ]:
# Idade maior que 40

df[
    df['Idade'] > 40
]

,ID_Cliente,Nome,Idade,Sexo,Cidade,Estado,Data_Cadastro,Gasto_Total
1,2,Bryan Araújo,27,Feminino,Alves,PR,2024-11-01,5495.21
2,3,Laís Mendes,28,Masculino,Melo,ES,2025-03-04,4127.34
3,4,Srta. Ana Clara Lima,34,Feminino,Castro,RN,2024-10-19,7245.87
4,5,Esther Pereira,26,Masculino,Sales,PI,2023-07-17,9976.92
9,10,Levi Pires,39,Feminino,Carvalho,RJ,2023-05-09,7180.85
14,15,Leandro Castro,28,Masculino,Rocha das Flores,AP,2023-09-22,8760.77
15,16,Alexandre Silva,27,Masculino,Lopes de Gonçalves,RR,2023-09-05,5906.18
16,17,Sarah Cavalcanti,36,Masculino,Rodrigues Alegre,RR,2024-07-24,6831.84

In [11]:
# Sexo Maculino e idade maior que 40 anos

df[
    (df['Sexo'] == 'Masculino') &
    (df['Idade'] > 40 )
]

,ID_Cliente,Nome,Idade,Sexo,Cidade,Estado,Data_Cadastro,Gasto_Total
0,1,Esther Lima,61,Masculino,da Rocha,PR,2024-08-31,7466.98
7,8,Sr. João Felipe Monteiro,52,Masculino,Barros de Mendes,SE,2023-07-07,5342.52
8,9,Eduardo Freitas,53,Masculino,Porto Alegre,CE,2024-03-10,4400.47
11,12,Ana Julia Viana,62,Masculino,Cardoso,TO,2023-11-25,4779.47
12,13,Bernardo Duarte,68,Masculino,da Rosa da Serra,PR,2023-08-02,6795.62
13,14,Vitor Hugo da Costa,48,Masculino,Oliveira,SE,2023-05-21,2443.25
17,18,Eduarda da Costa,58,Masculino,Almeida da Serra,RN,2025-01-22,3425.30

In [ ]:
# Parâmetro inplace=True aplica alterações diretamente no DataFrame original (sem precisar atribuir a outro objeto); inplace=False retorna uma cópia modificada.

df.rename(columns={'ID_Cliente':'ID'},inplace=False) # Apenas exibe a alteração sem modificar o df original
#df.rename(columns={'ID_Cliente':'ID'},inplace=True)  # Altera o df original

In [ ]:
# Upper função para deixar em maiúsculo

df['Nome'] = df['Nome'].str.upper()

# Lower função para deixar em minúsculo

df['Nome'] = df['Nome'].str.lower()

# Capitalize função para deixar a primeira letra maiúscula
df['Nome'] = df['Nome'].str.capitalize()

# Title função para deixar a primeira letra de cada palavra maiúscula
df['Nome'] = df['Nome'].str.title()

# Strip função para remover espaços em branco no início e no final
df['Nome'] = df['Nome'].str.strip()

# Replacing função para substituir valores
df['Nome'] = df['Nome'].str.replace('a','@')  # Substitui todas as letras 'a' por '@'